*{
    margin: 0px !important;
    padding: 0px !important;

}
::selection{
    background-color:yellow;
}
body{
    height: 100vh;
    /* overflow: hidden; */
}
/* #mid-section{
    overflow: scroll !important;
} */

.contain{
    float: left;
    width: 100%;
}
.header
{
    background-color:rgb(9, 65, 97) ;
    color: #fdfbfb;
    font-weight: 600;
    font-size: 25px;
    padding: 15px !important;
    /* margin-bottom: 5px !important; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.user{
    float: right !important;
    text-align: end;
    font-size: 20px;
}

.sidebar{
    background-color: rgb(9, 65, 97);
    left: 0px;
    top: 0px;
    position:relative;
    /* z-index: 3; */
    height: 92vh; 
    padding: 5px  20px !important;
}
.sidebar ul li {
    margin-bottom: 20px !important;
}
.sidebar ul li a{
    color:white !important;

}
ul{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.logout{
    bottom: 20px!important;
    position:absolute !important;
    color: white;
    /* padding: 5px  20px !important; */
}
.logout a{
    /* bottom: 20px!important;
    position:absolute !important; */
}
.drop{
    display:none !important;
}
@media screen and (max-width: 500px) {
    .sidebar , .user{
      /* background-color: olive !important; */
      text-align: center !important;
      
    }
    .sidebar{
        margin-left:-1000px !important;
    }
  }
