.info-option{
    margin-top:12% !important;
    margin-bottom: 3% !important;
    display: flex;
    justify-content: space-evenly;
    
}
.option{
    margin: 10px !important;
    padding: 20px 30px !important;
    font-size: 1.3em !important;
    cursor: pointer !important;
    

}

th,td{
    padding:5px 10px!important;
    border-bottom: 3px white solid !important;
}
.table-heading{
    text-align: center;
    font-size: 1.3em;
    padding: 5px 0px!important;
    background-color: #0aa4fc;
    color: azure;
}
table{
    font-size: 1.1em;
    width: 100%;
    text-transform: capitalize;
}
th
{
 width: 50%;
 background-color:rgba(229, 226, 228, 0.705);
}
td{
    background-color: rgb(192, 192, 252);
}

/* .option1:hover , .option2:hover , .option3:hover{
    
    border-radius: 48px;
    background-color: #d8ddf2;
    font-weight: 700;
    

} */
.option-select{
    background-color: #d8ddf2;
    border-radius: 48px;
    font-weight: 700;
}