.info-option{
    margin:20px 0px!important;
    display: flex;
    justify-content: space-evenly;
    background-color: #d8ddf2;
    border-radius: 48px;
}
.option{
    margin: 10px !important;
    padding: 10px !important;
    font-size: 1.3em !important;
    cursor: pointer !important;
}

th,td{
    padding:5px 10px!important;
    border-bottom: 3px white solid !important;
}
.table-heading{
    text-align: center;
    font-size: 1.3em;
    padding: 5px 0px!important;
    background-color: #0aa4fc;
    color: azure;
}
table{
    font-size: 1.1em;
    width: 100%;
    text-transform: capitalize;
}
th
{
 width: 50%;
 background-color:#c9c9c1;
}
td{
    background-color:#cd84bffc;
}
#personal_info{
    width: 500px !important;
    height: 500px !important;
    background-color: red;
}
.option1:hover , .option2:hover , .option3:hover{
    background-color: white;
    color: rgb(155, 155, 245);
    border-radius: 48px;
}