
body{
    background-color:#e0e0e0 !important ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;

}
.header{
    width: 100%;
    margin-bottom: 20px !important;

}
.header svg{
    z-index: -1;
    position: fixed;
    top:0;
}
.containers{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    align-items: center;
    padding: 0 20%  !important;
    margin-top:50vh !important;
    margin-bottom: 50px!important;
    
}
form label{
    font-size: 1.4em ;
}
.form-control{
    margin-bottom:20px !important  ;
    padding: 10px 10px !important;
    height: 45px !important;
    font-size: 1.2em !important;
    
}
ol , ul{
    margin-left: 0px !important;
}
.submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit{
    font-size: 1.4em;
    padding: 10px 0px !important;
    margin-top: 25px !important;
    width: 30% ;
    color: rgb(0, 0, 0);
    border:none;
    text-align: center;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 7px 7px 15px #bebebe, 
                -7px -7px 11px 0px #ffffff;
}

.submit:hover{
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: inset 7px 7px 15px #bebebe, 
                inset -7px -7px 11px 0px #ffffff;
}
.container>.form{
    width: 80% ;
}