*{
    margin: 0;
    padding: 0;
}
#singleBlog{
    padding: 5% 10%;
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #93c4dfb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #81b8d6b7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
}
.like-btn{
    font-size: 2em;

}
.tooltip{
    opacity: 0;
    position : absolute;
    font-size:1em;
}


.tooltip:hover{
    opacity: 1;
    cursor: pointer;
}

.blog-heading{
    margin-bottom: 2%;
    padding: 2px 7px;
    font-family: sans-serif;
    border-left: 4px solid #1e5d7cc5;


}
.blog-content{
    margin-top:5% ;
    line-height: 2;
    color: rgb(58, 56, 56);
    font-family: sans-serif;

}