*{
    padding: 0px !important;
    margin: 0px !important;
}
.contain{
    float:left;
    width:100%;
}
.nav-bar{
    color:white;
    font-size: 25px;
    background-color:rgb(9, 65, 97) ;
    padding: 9px !important;
    font-family: serif !important;
}
.nav{
    display: flex;
    align-items: center;
}
.side-bar ul{
    background-color:rgb(9, 65, 97);
    text-decoration: none;
    font-size: 20px !important;
    line-height: 1.5;
    height: 92vh;
}
.side-bar ul li a{
    color: white!important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.aca-drop{
    display: none;

}
.logout{
    bottom: 20px!important;
    position:absolute !important;
}
