*{
    padding: 0px !important;
    margin: 0px !important;
}
.contain{
    float:left;
    width:100%;
}
.nav-bar{
    color:white;
    font-size: 25px;
    background-color:rgb(9, 65, 97) ;
    padding: 9px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav{
    display: flex;
    align-items: center;
}
.side-bar ul{
    background-color:rgb(9, 65, 97);
    text-decoration: none !important;
    font-size: 20px !important;
    line-height: 2;
    height: 92vh;
    /* position: absolute;
    left: 20px !important; */
   /* list-style:circle !important; */
}

.side-bar ul li a{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 20px!important;
    
}
.side-bar ul li a:hover{
    text-decoration: none !important;
}
.side-bar ul li:hover{
     border-left: 3px solid white;
     /* //box-shadow: 2px 0px 5px  white; */
}
.side-bar ul li ul li a{
    position:absolute !important;
    left: 15% !important;
    /* display: inline; */
    color: white !important;
    background-color: rgb(9, 65, 97) !important;
    height: auto !important;
    /* display: none; */

}
/* .logout{ 
    position:absolute !important;
    bottom: 20px!important;
} */
